{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>PLANiT! Tests</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- load CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.css' %}">
    <link rel='stylesheet' href="{% static 'fullcalendar/fullcalendar.css' %}" />
    <link rel='stylesheet' href="{% static 'css/custom.css' %}" />

</head>
<body>
    <header></header>

    <main>
        <nav class="navbar navbar-default navbar-custom">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h1 style="color: white; font-family: 'Arial Rounded MT Bold', Arial, Helvetica, sans-serif;">PLANiT!</h1>
                    <!-- <a class="navbar-brand" href="#"></a> -->
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <!-- Main Content -->
            <div class="row" style="height:100%">
                <!-- Search Database (left side of screen) -->
                <div class="col-sm-4">
                    
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#search">Seach Classes</a></li>
                        <li><a href="#wishlist">Filter Wish List</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="search" class="tab-pane fade in active">
                            {% block searchTable %}
                            {% endblock %}
                        </div>
                        <div id="wishlist" class="tab-pane fade">
                            {% block wishListTable %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <!-- Filter Classes (right side of screen) -->
                <div class="col-sm-8" style="height:100%">
                    <!-- Calendar -->
                    <center>
                        <button onclick="scheduleLeft()"><</button>
                        <strong><p id="scheduleDisplay" style="display: inline-block">0/0</p></strong>
                        <button onclick="scheduleRight()">></button>
                    </center>
                    <div id='calendar'></div>
                </div>
            </div>
        </div>
    </main>

    <footer></footer>

    <!-- load Scripts -->
    <script src="{% static 'fullcalendar/lib/jquery.min.js' %}"></script>
    <script src="{% static 'fullcalendar/lib/moment.min.js' %}"></script>
    <script src="{% static 'fullcalendar/fullcalendar.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'DataTables/datatables.js' %}"></script>

    {% block javascript %}{% endblock %}
</body>
</html>