{% extends 'base.html' %}

{% block javascript %}
    <script type='text/javascript'>

        var scheduleIndex = 0;
        var numSchedules = 0;
        var schedules = [[{}]];

        $(document).ready( function () {
            // SETS UP TABLES
            $('#courses').DataTable({"lengthChange": false, "dom": "<'row'<'col-sm-6'f>>" + "t"});
            $('.dataTables_filter').addClass('pull-left');
            var wishListTable = $('#wishList').DataTable( {
                "bPaginate": false,
                 "searching": false,
                 "info": false,
                 columns: [
                    { title: "Subject" },
                    { title: "Course ID" },
                    { title: "Course Title" },
                    { title: "Remove", "data": null, defaultContent: "<center><button>-</button></center>" }
                ]

            } );
            $('#wishList tbody').on( 'click', 'button', function () {
                var data = wishListTable.row( $(this).parents('tr') ).data();
                removeFromWishList(data[0], data[1], data[2], data[3]);
            } );
            //localStorage.clear();

            // SETS UP FILTERS WITH MULTIPLE SELECT
            $('#daysOff').multipleSelect();
            $('#attributes').multipleSelect({
                filter: true
            }, "checkAll");
            

            // SETS UP CALENDAR
            $('#calendar').fullCalendar({
                defaultDate: moment('2018-01-01'),
                weekends: false,
                defaultView: 'agendaWeek',
                columnHeaderFormat: 'dddd',
                minTime: "08:00:00",
                maxTime: "23:59:00",
                height: "auto",
                eventColor: '#29B89B',
                header:false,

                contentHeight: 600,
                allDaySlot: false,

                events: [{}]
            });

            // DEALS WITH THE TABS FEATURE
            $(".nav-tabs a").click(function(){
                $(this).tab('show');
            });

            // SLIDER INIT
            var timeSlider = document.getElementById('timeSlider');
            noUiSlider.create(timeSlider, {
                connect: true,
                behaviour: 'tap',
                start: [480, 1020],
                step: 30,
                range: {
                    'min': 480,
                    'max': 1020
                }
            });

            var startTime = document.getElementById('startTime');
            var endTime = document.getElementById('endTime');

            timeSlider.noUiSlider.on('update', function( values, handle ) {

                var value = values[handle];

                if ( handle ) { // right handle
                    endTime.value = Math.round(value);
                } else {  // left handle
                    startTime.value = Math.round(value);
                }

                updateSchedules();
            });

            startTime.addEventListener('change', function(){
                timeSlider.noUiSlider.set([this.value, null]);
            });

            endTime.addEventListener('change', function(){
                timeSlider.noUiSlider.set([null, this.value]);
            });


            // MIN/MAX CREDITS INIT
            var creditSlider = document.getElementById('creditSlider');
            noUiSlider.create(creditSlider, {
                connect: true,
                behavior: 'tap',
                start: [12, 18],
                step: 1,
                range: {
                    'min': 1,
                    'max': 20
                }
            });

            var minCredits = document.getElementById('minCredits');
            var maxCredits = document.getElementById('maxCredits');

            creditSlider.noUiSlider.on('update', function (values, handle ) {
                var value = values[handle];

                if ( handle ) {
                    maxCredits.value = Math.round(value);
                } else {
                    minCredits.value = Math.round(value);
                }

                updateSchedules();
            });

            minCredits.addEventListener('change', function() {
                creditSlider.noUiSlider.set([this.value, null]);
            });
            maxCredits.addEventListener('change', function() {
                creditSlider.noUiSlider.set([null, this.value]);
            });


            // CALLS THE UPDATE LAST
            updateSchedules();
            updateWishListTable();
        } );

        // =================================================================
        // MARK: UPDATE FUNCTIONS (FUNCTIONS THAT UPDATE THE UI IN SOME WAY)
        // =================================================================

        function updateSchedules() {
            var wishList = JSON.parse(localStorage.getItem("wishList")) || {};
            var filters = $('#wishListFilters').serializeArray().reduce(function(obj, item) {
                obj[item.name] = item.value;
                return obj;
            }, {});

            $.ajax({
                url: '{% url "get_schedules" %}',
                method: 'POST',
                data: {
                    "wishList": wishList,
                    "filters": filters,
                    "csrfmiddlewaretoken": '{{ csrf_token }}'
                    },
                dataType: 'json',
                success: function (data) {
                    schedules = data;
                    scheduleIndex = 0;
                    numSchedules = schedules.length;
                    updateCalendar();
                }
            });
        }

        function updateWishListTable(){
            var data = [];
            var wishList = JSON.parse(localStorage.getItem("wishList")) || {};
            Object.keys(wishList).forEach(function(key) {
                var row = [wishList[key]["subject"], wishList[key]["course_id"], wishList[key]["title"], key];
                data.push(row);
            });
            var wishListTable = $('#wishList');
            wishListTable.DataTable().clear();
            wishListTable.DataTable().rows.add(data);
            wishListTable.DataTable().draw();
        }

        function updateCalendar() {
            var calendar = $('#calendar');
            calendar.fullCalendar('removeEvents');
            calendar.fullCalendar('addEventSource', schedules[scheduleIndex]);
            calendar.fullCalendar('rerenderEvents' );
            if (Object.keys(schedules[0][0]).length === 0){
                document.getElementById("scheduleDisplay").innerHTML = "0/0";
            } else {
                document.getElementById("scheduleDisplay").innerHTML = (scheduleIndex+1).toString() + "/" + numSchedules.toString();
            }

        }

        // =======================================================================
        // MARK: USER INTERACTIONS (FUNCTIONS THAT RUN WHEN A USER CLICKS A BUTTON
        // =======================================================================

        function addToWishList(subject, course_id, title, crn) {
            var newWishListEntry = {"subject": subject, "course_id": course_id, "title": title};
            var wishList = JSON.parse(localStorage.getItem("wishList")) || {};
            wishList[crn] = newWishListEntry;
            localStorage.setItem("wishList", JSON.stringify(wishList));

            updateWishListTable();
            updateSchedules();
        }

        function removeFromWishList(subject, course_id, title, crn) {
            var wishList = JSON.parse(localStorage.getItem("wishList")) || {};
            delete wishList[crn];
            localStorage.setItem("wishList", JSON.stringify(wishList));

            updateWishListTable();
            updateSchedules();
        }

        function scheduleLeft() {
            scheduleIndex -= 1;
            if (scheduleIndex < 0){
                if (numSchedules === 0){
                    scheduleIndex = 0;
                } else {
                    scheduleIndex = numSchedules-1;
                }
            }
            updateCalendar();
        }

        function scheduleRight() {
            scheduleIndex += 1;
            if (scheduleIndex >= numSchedules){
                scheduleIndex = 0;
            }
            updateCalendar();
        }
    </script>
{% endblock %}

{% block searchTable %}
    <table id="courses" class="display">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Course ID</th>
                <th>Course Title</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody>
            {% for item in sections %}
            <tr>
                <td> {{ item.subject }}</td>
                <td> {{ item.course_id }} </td>
                <td> {{ item.title }}</td>
                <td style="text-align: center;">
                    <button onclick="addToWishList('{{item.subject}}','{{item.course_id}}','{{item.title}}','{{item.crn}}')">+</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block wishListTable %}
    <table id="wishList" class="display" width="100%"></table>
{% endblock %}

{% block wishListFeatures %}
    <form id="wishListFilters">
        <!-- Time Filter -->
        <label for="startTime">Start Time:</label>
        <select id="startTime" name="startTime">
            <option value="480" >8:00</option>
            <option value="510" >8:30</option>
            <option value="540" >9:00</option>
            <option value="570" >9:30</option>
            <option value="600" >10:00</option>
            <option value="630" >10:30</option>
            <option value="660" >11:00</option>
            <option value="690" >11:30</option>
            <option value="720" >12:00</option>
            <option value="750" >12:30</option>
            <option value="780" >1:00</option>
            <option value="810" >1:30</option>
            <option value="840" >2:00</option>
            <option value="870" >2:30</option>
            <option value="900" >3:00</option>
            <option value="930" >3:30</option>
            <option value="960" >4:00</option>
            <option value="990" >4:30</option>
            <option value="1020" >5:00</option>
        </select>
        <label for="endTime">End Time:</label>
        <select id="endTime" name="endTime">
            <option value="480" >8:00</option>
            <option value="510" >8:30</option>
            <option value="540" >9:00</option>
            <option value="570" >9:30</option>
            <option value="600" >10:00</option>
            <option value="630" >10:30</option>
            <option value="660" >11:00</option>
            <option value="690" >11:30</option>
            <option value="720" >12:00</option>
            <option value="750" >12:30</option>
            <option value="780" >1:00</option>
            <option value="810" >1:30</option>
            <option value="840" >2:00</option>
            <option value="870" >2:30</option>
            <option value="900" >3:00</option>
            <option value="930" >3:30</option>
            <option value="960" >4:00</option>
            <option value="990" >4:30</option>
            <option value="1020" >5:00</option>
        </select>
        <div id="timeSlider" style="padding-left: 15px; margin-bottom: 2em;"></div>

        <!-- Credit Filter -->
        <label for="minCredits">Minimum Credits:</label>
        <select id="minCredits" name="minCredits">
            <option value="1" >1</option>
            <option value="2" >2</option>
            <option value="3" >3</option>
            <option value="4" >4</option>
            <option value="5" >5</option>
            <option value="6" >6</option>
            <option value="7" >7</option>
            <option value="8" >8</option>
            <option value="9" >9</option>
            <option value="10" >10</option>
            <option value="11" >11</option>
            <option value="12" >12</option>
            <option value="13" >13</option>
            <option value="14" >14</option>
            <option value="15" >15</option>
            <option value="16" >16</option>
            <option value="17" >17</option>
            <option value="18" >18</option>
            <option value="19" >19</option>
            <option value="20" >20</option>
        </select>
        <label for="maxCredits">Maximum Credits:</label>
        <select id="maxCredits" name="maxCredits">
            <option value="1" >1</option>
            <option value="2" >2</option>
            <option value="3" >3</option>
            <option value="4" >4</option>
            <option value="5" >5</option>
            <option value="6" >6</option>
            <option value="7" >7</option>
            <option value="8" >8</option>
            <option value="9" >9</option>
            <option value="10" >10</option>
            <option value="11" >11</option>
            <option value="12" >12</option>
            <option value="13" >13</option>
            <option value="14" >14</option>
            <option value="15" >15</option>
            <option value="16" >16</option>
            <option value="17" >17</option>
            <option value="18" >18</option>
            <option value="19" >19</option>
            <option value="20" >20</option>
        </select>
        <div id="creditSlider" style="padding-left: 15px; margin-bottom: 2em;"></div>

        <!-- Days Off Filter -->
        <label for="daysOff">Days Off</label>
        <select class="w300" multiple="multiple" id="daysOff" name="test">
            <option name="day" value="1"> Monday</option>
            <option name="day" value="2"> Tuesday</option>
            <option name="day" value="3"> Wednesday</option>
            <option name="day" value="4"> Thursday</option>
            <option name="day" value="5"> Friday</option>
        </select>
        <br><br>

        <!-- Attributes Filter -->
        <label for="attributes">Attributes</label>
        <select class="w300" multiple="multiple" id="attributes">
            <option value="ACTV"> Active Learning -- ACTV</option>
            <option value="FEE"> Additional Fee Required -- FEE</option>
            <option value="ALB"> American Lit before 1920 -- ALB</option>
            <option value="ALV"> Arts Letters Values -- ALV</option>
            <option value="GE6"> Arts Proficiency (GER6) -- GE6</option>
            <option value="BLB"> British Lit before 1700 -- BLB</option>
            <option value="BLT"> British Lit between 1700-1900 -- BLT</option>
            <option value="BLWF"> Business Law - Foundational -- BLWF</option>
            <option value="BLWS"> Business Law - Supporting -- BLWS</option>
            <option value="CHEL"> Chemistry Electives -- CHEL</option>
            <option value="CSOT"> CLST Other Courses -- CSOT</option>
            <option value="C100"> College 100 -- C100</option>
            <option value="C150"> College 150 -- C150</option>
            <option value="C200"> College 200 -- C200</option>
            <option value="C300"> College 300 -- C300</option>
            <option value="C400"> College 400 -- C400</option>
            <option value="MATC"> Computational Mathematics -- MATC</option>
            <option value="CR"> Constructions of Race -- CR</option>
            <option value="CLS"> Crim, Law, &amp; Society -- CLS</option>
            <option value="CSI" > Culture Society Individual -- CSI</option>
            <option value="DC" > Department Chair Required -- DC</option>
            <option value="ECWR" >ECON Writing Requirement -- ECWR</option>
            <option value="EXP" >Experiential -- EXP</option>
            <option value="FRSM" >First-Year Seminar -- FRSM</option>
            <option value="FLP" >Foreign Lang Proficiency -- FLP</option>
            <option value="G2LA" >G2LA Natural Sci-Physical Lab -- G2LA</option>
            <option value="G2LB" >G2LB Natural Sci-Bio Lab -- G2LB</option>
            <option value="GE1" >GE1Math/Quantitative Reasoning -- GE1</option>
            <option value="GE2A" >GE2A Natural Sci-Physical -- GE2A</option>
            <option value="GE2B" >GE2B Natural Sci-Biological -- GE2B</option>
            <option value="GE2L" >GE2L Natural Science Lab -- GE2L</option>
            <option value="GE3" >GE3 Social Sciences -- GE3</option>
            <option value="GE4A" >GE4A Hist/Cultr Euro Tradition -- GE4A</option>
            <option value="GE4B" >GE4B Hist/Cult outside EurTrad -- GE4B</option>
            <option value="GE4C" >GE4C Cross-Cultural Issues -- GE4C</option>
            <option value="GE5" >GE5 Lit/Hist of the Arts -- GE5</option>
            <option value="GE7" >GE7 Phil/Relig/Soc Thought -- GE7</option>
            <option value="GLOB" >Globalization -- GLOB</option>
            <option value="GUAR" >Guaranteed Summer Offering -- GUAR</option>
            <option value="HMWB" >Health, Med, &amp; Well-Being -- HMWB</option>
            <option value="HIPP" >High Impact Projects -- HIPP</option>
            <option value="HIPT" >High Impact Projects -- HIPT</option>
            <option value="HISC" >HIST Colloquium Requirement -- HISC</option>
            <option value="HINW" >HIST Non-Western Survey Course -- HINW</option>
            <option value="IRCP" >INRL Capstone -- IRCP</option>
            <option value="IREL" >INRL Elective -- IREL</option>
            <option value="IRSC" >INRL Social Cultural Concepts -- IRSC</option>
            <option value="IN" >Instructor Permission Required -- IN</option>
            <option value="JDST" >Judaic Studies Requirement -- JDST</option>
            <option value="KINA" >KINE Activity -- KINA</option>
            <option value="EPPH" >KINE Epidemiology Pub Hlth -- EPPH</option>
            <option value="LWWR" >Law Writing Requirement -- LWWR</option>
            <option value="LW1R" >Law Year 1 Requirement -- LW1R</option>
            <option value="LW2R" >Law Year 2 Requirement -- LW2R</option>
            <option value="LS" >Literature since 1900 -- LS</option>
            <option value="LDWR" >Lower Divsn Writing Req -- LDWR</option>
            <option value="MMTG" >Mandatory Meeting -- MMTG</option>
            <option value="MATH" >Math Proficiency -- MATH</option>
            <option value="MCR" >Meets Major Computing Req -- MCR</option>
            <option value="MWR" >Meets Major Writing Req -- MWR</option>
            <option value="MCGD" >Molecules/Cells/Genes/Develop -- MCGD</option>
            <option value="NQR" >Nat World Quant Reasoning -- NQR</option>
            <option value="NATV" >Natv Stds Minor Core -- NATV</option>
            <option value="ON" >Online Course -- ON</option>
            <option value="MATO" >Operations Research -- MATO</option>
            <option value="OWR" >Optional Writing Requirement -- OWR</option>
            <option value="OPEE" >Organsms/Popultns/Ecology/Evol -- OPEE</option>
            <option value="P/F" >Pass/Fail Course -- P/F</option>
            <option value="PACT" >Physical Activity Proficiency -- PACT</option>
            <option value="MATP" >Probability &amp; Statistics -- MATP</option>
            <option value="MATS" >Scientific Applications -- MATS</option>
            <option value="SHCR" >Short Course -- SHCR</option>
            <option value="SA" >Single Author/Film Auteur -- SA</option>
            <option value="SPPJ" >Soc Prob, Pol, &amp; Justice -- SPPJ</option>
            <option value="SUST" >Sustainability Courses -- SUST</option>
            <option value="UNSM" >University Seminar Req -- UNSM</option>
        </select>
    </form>
{% endblock %}