{% extends 'base.html' %}


{% block javascript %}
    <script type='text/javascript'>

        var scheduleIndex = 0;
        var numSchedules = 0;
        var schedules = [[{}]];

        $(document).ready( function () {
            $('#courses').DataTable();
            localStorage.clear();

            $('#calendar').fullCalendar({
                defaultDate: moment('2018-01-01'),
                weekends: false,
                defaultView: 'agendaWeek',
                columnHeaderFormat: 'dddd',
                minTime: "08:00:00",
                maxTime: "23:59:00",
                height: "auto",
                header: {
                  left: '',
                  center: '',
                  right: '',
                },

                contentHeight: 600,
                allDaySlot: false,

                events: [{}]
            });

            updateSchedules();
        } );

        function updateCalendar() {
            $('#calendar').fullCalendar('removeEvents');
            $('#calendar').fullCalendar('addEventSource', schedules[scheduleIndex]);
            $('#calendar').fullCalendar('rerenderEvents' );
        }

        function updateSchedules() {
            var wishList = JSON.parse(localStorage.getItem("wishList")) || {};

            $.ajax({
                url: '{% url "get_schedules" %}',
                method: 'POST',
                data: {
                    "wishList": wishList,
                    "csrfmiddlewaretoken": '{{ csrf_token }}'
                    },
                dataType: 'json',
                success: function (data) {
                    schedules = data;
                    num_schedules = schedules.length;
                    updateCalendar();
                }
            });
        }

        function addToWishList(subject, course_id, title, crn) {

            var newWishListEntry = {"subject": subject, "course_id": course_id, "title": title};
            var wishList = JSON.parse(localStorage.getItem("wishList")) || {};
            wishList[crn] = newWishListEntry;
            localStorage.setItem("wishList", JSON.stringify(wishList))

            updateSchedules();

        }

        function removeFromWishList(subject, course_id, title, crn) {
            var newWishListEntry = {"subject": subject, "course_id": course_id, "title": title};
            var wishList = JSON.parse(localStorage.getItem("wishList")) || {};
            delete wishList[crn];
            localStorage.setItem("wishList", JSON.stringify(wishList))

            updateSchedules();
        }

        function scheduleLeft() {
            scheduleIndex -= 1;
            if (scheduleIndex < 0){
                if (numSchedules == 0){
                    scheduleIndex = 0;
                } else {
                    scheduleIndex = numSchedules-1;
                }
            }
            updateCalendar();
        }

        function scheduleRight() {
            scheduleIndex += 1;
            if (scheduleIndex >= numSchedules){
                scheduleIndex = 0;
            }
            updateCalendar();
        }
    </script>
{% endblock %}

{% block searchTable %}
    <table id="courses" class="display">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Course ID</th>
                <th>Course Title</th>
                <th>Wish List</th>
            </tr>
        </thead>
        <tbody>
            {% for item in sections %}
            <tr>
                <td> {{ item.subject }}</td>
                <td> {{ item.course_id }} </td>
                <td> {{ item.title }}</td>
                <td style="text-align: center;">
                    <button onclick="addToWishList('{{item.subject}}','{{item.course_id}}','{{item.title}}','{{item.crn}}')">+</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}