.navbar-custom {
    color: #FFFFFF;
    background-color: #46b8af;
}

.tab-pane {
    padding-top: 10px;
}

.center {
    margin: auto;
    width: 50%;
}

.dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: left;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.0em;
}

body {
    font-family: "Montserrat";
}

.w300 {
    width: 100%;
}