.navbar-custom {
    color: #FFFFFF;
    background-color: #29B89B;
}

#courses {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }